@model ShoppingCartModel.OrderReviewDataModel
@if (Model.Display)
{
    <div class="order-review-data">
        <div class="billing-info-wrap">
            <div class="billing-info my-5">
                <div class="title m-2">
                    <strong>@T("Order.BillingAddress")</strong>
                </div>
                <ul class="info-list list-group list-group-flush">
                    @if (Model.BillingAddress.StreetAddressEnabled)
                    {
                        <li class="address1 list-group-item">
                            <b class="text-capitalize">@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</b><br />
                            @Model.BillingAddress.Address1<br />
                            @if (!string.IsNullOrEmpty(Model.BillingAddress.Address2))
                            {
                                @Model.BillingAddress.Address2 <br />
                            }
                            @if (Model.BillingAddress.CityEnabled && !string.IsNullOrEmpty(Model.BillingAddress.City) ||
                   Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County) ||
                   Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) ||
                   Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                            {
                                @if (Model.BillingAddress.CityEnabled && !string.IsNullOrEmpty(Model.BillingAddress.City))
                                {
                                    @Model.BillingAddress.City
                                    @if (Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County) ||
                              Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) ||
                              Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County))
                                {
                                    @Model.BillingAddress.County
                                    @if (Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) ||
                              Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName))
                                {
                                    @Model.BillingAddress.StateProvinceName
                                    @if (Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                    {
                                        <text>,</text>
                                    }
                                }
                                @if (Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                {
                                    @Model.BillingAddress.ZipPostalCode
                                }

                                @if (Model.BillingAddress.CountryEnabled && !string.IsNullOrEmpty(Model.BillingAddress.CountryName))
                                {
                                    <br />
                                    @Model.BillingAddress.CountryName
                                }

                            }
                            <br /><br />
                            <b>@T("Order.Email")</b>: @Model.BillingAddress.Email
                           <br /><br />
                                <b>@T("Order.Phone")</b>: @Model.BillingAddress.PhoneNumber

                            @if (Model.BillingAddress.CompanyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.Company))
                            {
                                <br /><br />@Model.BillingAddress.Company
                            }
                            </li>

                        }
                </ul>
            </div>
            @if (!string.IsNullOrEmpty(Model.PaymentMethod))
            {
                <div class="payment-method-info my-5">
                    <div class="title m-2">
                        <strong>@T("Order.Payment")</strong>
                    </div>
                    <ul class="info-list list-group list-group-flush">
                        <li class="payment-method list-group-item">
                            <span class="label text-bold">
                                @T("Order.Payment.Method"):
                            </span>
                            <span class="value">
                                @Model.PaymentMethod
                            </span>
                        </li>
                    </ul>
                </div>
            }
        </div>

        @if (Model.IsShippable)
        {
            <div class="shipping-info-wrap my-5">
                <div class="shipping-info">
	                <div class="title m-2">
	                    <strong>@(Model.SelectedPickUpInStore ? T("Order.PickupAddress") : T("Order.ShippingAddress"))</strong>
	                </div>
                    <ul class="info-list list-group list-group-flush">
                        @if (!Model.SelectedPickUpInStore)
                        {
                            <li class="address1 list-group-item">
                                <b class="text-capitalize">@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</b><br />
                                @Model.ShippingAddress.Address1<br />
                                @if (!string.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                {
                                    @Model.ShippingAddress.Address2 <br />
                                }
                                @if (Model.ShippingAddress.CityEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.City) ||
                        Model.ShippingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.County) ||
                        Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName) ||
                        Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                {
                                    @if (Model.ShippingAddress.CityEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.City))
                                    {
                                        @Model.ShippingAddress.City
                                        @if (Model.ShippingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.County) ||
                               Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName) ||
                               Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                        {
                                            <text>,</text>
                                        }
                                    }
                                    @if (Model.ShippingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.County))
                                    {
                                        @Model.ShippingAddress.County
                                        @if (Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName) ||
                               Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                        {
                                            <text>,</text>
                                        }
                                    }
                                    @if (Model.ShippingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.StateProvinceName))
                                    {
                                        @Model.ShippingAddress.StateProvinceName
                                        @if (Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                        {
                                            <text>,</text>
                                        }
                                    }
                                    @if (Model.ShippingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.ZipPostalCode))
                                    {
                                        @Model.ShippingAddress.ZipPostalCode
                                    }

                                    @if (Model.ShippingAddress.CountryEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                                    {
                                        <br />
                                        @Model.ShippingAddress.CountryName
                                    }
                                }
                                <br /><br />
                                <b>@T("Order.Email")</b>: @Model.ShippingAddress.Email
                                <br /><br />
                                <b>@T("Order.Phone")</b>: @Model.ShippingAddress.PhoneNumber
                                @if (Model.ShippingAddress.CompanyEnabled && !string.IsNullOrEmpty(Model.ShippingAddress.Company))
                                {
                                       <br /><br /> @Model.ShippingAddress.Company
                                }
                             </li>

                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(Model.PickupAddress.Address1))
                                {
                                    <li class="address1">
                                        @Model.PickupAddress.Address1
                                    </li>
                                }
                                if (!string.IsNullOrEmpty(Model.PickupAddress.City) ||
                                !string.IsNullOrEmpty(Model.PickupAddress.County) ||
                                !string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName) ||
                                !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                {
                                    <li class="city-state-zip">
                                        @if (!string.IsNullOrEmpty(Model.PickupAddress.City))
                                        {
                                            @Model.PickupAddress.City
                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.County) ||
                                             !string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName) ||
                                             !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                            {
                                                <text>,</text>
                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(Model.PickupAddress.County))
                                        {
                                            @Model.PickupAddress.County
                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName) ||
                                             !string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                            {
                                                <text>,</text>
                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(Model.PickupAddress.StateProvinceName))
                                        {
                                            @Model.PickupAddress.StateProvinceName
                                            @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                            {
                                                <text>,</text>
                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                                        {
                                            @Model.PickupAddress.ZipPostalCode
                                        }
                                    </li>
                                }
                                if (!string.IsNullOrEmpty(Model.PickupAddress.CountryName))
                                {
                                    <li class="country">
                                        @Model.PickupAddress.CountryName
                                    </li>
                                }
                            }
                    </ul>
                </div>
                <div class="shipping-method-info my-5">
                    <div class="title m-2">
                        <strong>@T("Order.Shipping")</strong>
                    </div>
                    <ul class="info-list list-group list-group-flush">
                        <li class="shipping-method list-group-item">
                            <span class="label">
                                @T("Order.Shipping.Name"):
                            </span>
                            <span class="value">
                                @Model.ShippingMethod
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
}