@model TopicModel
@using Nop.Core.Domain.Seo
@using Nop.Services.Catalog
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    var isPopup = ViewBag.IsPopup;
    if (isPopup == null || isPopup == false)
    {
        Layout = "_ColumnsOne";
    }

    if (!Model.IsPasswordProtected)
    {
        //title
        Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
        //meta
        Html.AddMetaDescriptionParts(Model.MetaDescription);
        Html.AddMetaKeywordParts(Model.MetaKeywords);
    }

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var topicUrl = Url.RouteUrl("Topic", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(topicUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //page class
    Html.AppendPageCssClassParts("html-topic-page");
}
@if (Model.IsPasswordProtected)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#button-password').on('click', function () {
                var postData = {
                    id: $("#topic-@Model.Id").val(),
                    password: $('#password').val()
                };
                addAntiForgeryToken(postData);


                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.RouteUrl("TopicAuthenticate")',
                    data: postData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.Authenticated) {
                            $('#ph-topic #ph-title h1').html(data.Title);
                            if ($('#ph-topic #ph-title h1').text().length == 0) {
                                $('#ph-title').hide();
                            }
                            $('#ph-topic .page-body').html(data.Body);
                            $('#ph-password').hide();
                            $('#ph-topic').show();
                            //we need to re-run the validation plugin after the content is loaded after successful authentication
                            $.validator.unobtrusive.parse('#ph-topic');
                        }
                        else {
                            $('#password-error').text(data.Error).fadeIn("slow");
                            $('#ph-password #password').select().focus();
                        }
                    }
                });
                return false;
            });
        });

        $(document).ready(function () {
            $('#ph-topic').hide();
            $('#ph-password #password').select().focus();
        });
    </script>
    <div class="topic-password" id="ph-password">
        <form asp-route="TopicAuthenticate" method="post">
            <input asp-for="Id" id="topic-@Model.Id" type="hidden" />
            <div class="enter-password-title">
                @T("Topic.EnterPassword")
            </div>
            <div class="enter-password-form">
                <input name="password" id="password" type="password" />
                <input type="submit" id="button-password" value="@T("Topic.Button")" class="button-1 topic-password-button" />
            </div>
            <div class="password-error" id="password-error" style="display: none;"></div>
        </form>
    </div>
}
<div class="page topic-page" id="ph-topic">
    <div class="page-title" id="ph-title">
        <div class="row pt-5 pb-3 px-3 justify-content-center">
            <div class="col-xs-12 text-center">
                <h1>Our Products</h1>
                <a href="/all-products" class="desktop-main-button shop-button hvr-grow cat-shop-all" alt="Shop all products.">
                    Shop All Products
                </a>
            </div>
        </div>
    </div>
    <div class="light-hr"></div>
    <div class="page-body">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8">
                <div class="row justify-content-around px-5">
            
                    @{
                        //Load category service
                        var categoryService = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Catalog.ICategoryService>();

                        //Load picture service
                        var pictureService = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();

                        //Load URL Service
                        var urlRecordService = Nop.Core.Infrastructure.EngineContext.Current.Resolve <Nop.Services.Seo.IUrlRecordService>();

                        //Load categories
                        var categoriesList = categoryService.GetAllCategories(0, false, true);

                        //Loop through them
                        for (int i = 0; i < categoriesList.Count; i++)

                        {
                            //make sure the category is a parent
                            if (categoriesList[i].ParentCategoryId == 0 && categoriesList[i].Id != 21)
                            {

                        <div class="my-4 col-xs-12 col-md-5">

                            <h2 alt="Category Name">@categoriesList[i].Name</h2>

                            <div class="shop-parent-category text-center">

                                <div class="scrolling-inner">

                                    <div class="scrolling-top">
                                        <img alt="@categoriesList[i].MetaTitle" src="@pictureService.GetPictureUrl(categoriesList[i].PictureId)" />

                                        <div class="light-hr my-3"></div>

                                        <div class="cat-desc-box text-center align-middle px-5">

                                            @Html.Raw(categoriesList[i].Description)

                                        </div>

                                        <div class="cat-button-box p-4 align-bottom">

                                            @{ 
                                                //get the seo friendly url for this category
                                                var categoryObject = categoryService.GetCategoryById(categoriesList[i].Id);
                                                var seoUrl = urlRecordService.GetSeName(categoryObject);
                                            }

                                            <a href="/@seoUrl" class="desktop-main-button shop-button hvr-grow cat-shop-all" alt="Shop all @categoriesList[i].Name products.">
                                                Shop @categoriesList[i].Name
                                            </a>

                                            @{
                                                //check if this category has children
                                                var thisChildren = categoryService.GetAllCategoriesByParentCategoryId(categoriesList[i].Id, false);
                                                int thisChildrenCount = thisChildren.Count;
                                                if (thisChildrenCount > 0)
                                                {

                                                    //this category has children
                                                    <div class="light-hr"></div>
                                                    <button type="button" class="sub-cat-button desktop-main-button hvr-grow" id="cat-@categoriesList[i].Id">Show Sub-categories</button>

                                                }
                                            }

                                        </div>

                                    </div>

                                    @await Html.PartialAsync("_ChildCategories", categoriesList[i])

                                </div>
                            </div>
                        </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {

        $('.sub-cat-button').click(function () {

            $(this).parents().eq(2).addClass('scrolled-up');

        });

        $('.sub-cat-close-button').click(function () {

            $(this).parents().eq(3).removeClass('scrolled-up');

        });

        $('html').click(function (e) {
            //if clicked element is not your element and parents aren't your div
            if (e.target.id != 'flyout-cart-close' && $(e.target).parents('#flyout-cart-close').length == 0) {
                //do stuff
                $('#flyout-cart').slideUp();
                $('#topcartlink').removeClass('topcartlink-active');
            }
        });

    });
</script>