@model MiniShoppingCartModel
<div id="flyout-cart" class="flyout-cart">
    <div class="mini-shopping-cart">
        <button type="button" class="close-button hvr-grow" id="flyout-cart-close"></button>
        <div class="row align-items-center">
            <div class="col-xs-12 col-sm-5 remove-if-empty">
                @if (Model.TotalProducts > 0)
                {
                    <div class="items">
                        @for (var i = 0; i < 1; i++)
                        {
                            var item = Model.Items[i];
                            
                            <div class="item @(i == 0 ? "first" : null)">
                                <h4>Recent Item</h4>
                                @if (Model.ShowProductImages)
                                {
                                    <div class="picture">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                            <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                        </a>
                                    </div>
                                }
                                <div class="product">
                                    <div class="name">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    </div>
                                    @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    <div>@T("ShoppingCart.Mini.UnitPrice"): <span class="price">@item.UnitPrice</span></div>
                                    <div class="quantity">Cart @T("ShoppingCart.Mini.Quantity"): <span>@item.Quantity</span></div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            <!--
        -->
            <div class="col-xs-12 col-sm-7 change-class-if-empty">
                <div class="count">
                    @if (Model.TotalProducts == 0)
                    {
                        @T("ShoppingCart.Mini.NoItems")
                    }
                    else
                    {
                        @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, $"<a href=\"{Url.RouteUrl("ShoppingCart")}\">{string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts)}</a>"))
                    }
                </div>
                <div class="totals">@T("ShoppingCart.Totals.SubTotal"): <strong class="price">@Model.SubTotal</strong></div>
                <div class="light-hr"></div>
                <div class="buttons">
                    @if (Model.DisplayShoppingCartButton)
                    {
                        <input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="hvr-grow button-1 desktop-main-button cart-button" name="Shopping Cart" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

                    }
                    @if (Model.DisplayCheckoutButton)
                    {
                        var checkoutUrl = "";
                        if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                        {
                            checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                        }
                        else
                        {
                            checkoutUrl = Url.RouteUrl("Checkout");
                        }
                        <input type="button" value="@T("Checkout.Button")" class="hvr-grow button-1 desktop-main-button checkout-button" Name="Checkout" onclick="setLocation('@checkoutUrl')" />
                    }
                </div>
            </div>
        </div><!--/row-->
    </div>
</div>

<script asp-location="Footer">
    var cartPrice = $('.totals .price').text();

    if (cartPrice === '') {
        cartPrice = '$0.00';
        $('.totals').text(cartPrice).addClass('price');
        $('#flyout-cart').css({
            width: '300px'
        });
        $('.remove-if-empty').css('display', 'none');
        $('.change-class-if-empty').removeClass('col-sm-7').addClass('mx-auto');
        $('.count').addClass('my-3 mx-5');
    };
</script>
